
body{
    background-color: rgb(253, 234, 246);
}

.head{
  background-image: url(images/snapedit_1743318014694.jpeg);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 780px;
    text-align: center;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.cat{
   padding-left: 38.96%;
   position: absolute;
   padding-top: 369px;
    width: 735px;
    height: 411px;
}

.businki{
    width: 21.81%;
    height: 602px;
    position: absolute;
}
.text1{
position: relative;
font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15%;
    padding-top: 321px;
    width: 459px;
}

.osnova{
    display: block;
    background-color: rgb(253, 232, 250);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 702px;
    margin-top: 120px;
}
.maxie{
    width: 470px;
    height: 601px;
    padding-left: 3%;
    position: absolute;
    padding-top: 60px;
}
.group1{
    padding-left: 29.36%;
    padding-top: 18px;
    position: absolute;
}
.heart{
    position: relative;
}
.christ{
    position: relative;
    padding-left: 85.03%;
    padding-top: 300px;
}
.end{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}